<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.MainMapper">

	<select id="selectCategory" resultType="org.zerock.domain.Category">
		select * 
		from category 
		order by maincategory
	</select>
	
	<select id="selectProduct" resultType="org.zerock.domain.Product">
		<![CDATA[
		select * 
		from product 
		where sellcheck='N' 
		order by ino desc
		]]>
	</select>
	
	<select id="selectProductToday" resultType="org.zerock.domain.ProductToday">
		<![CDATA[
		select * 
		from (select row_number() over (order by viewcount desc, ino) num, A.* from product A where sellcheck='N' order by viewcount desc, ino) 
		where num <=20
		]]>
	</select>
	
	<select id="selectCategoryProduct" resultType="org.zerock.domain.Product">
		<![CDATA[
		select * 
		from product 
		where ccode=#{ccode}
		order by ino desc
		]]>
	</select>
	
	<select id="selectSearchProduct" resultType="org.zerock.domain.Product">
		select * 
		from product 
		where 
		<foreach collection="array" item="arr" separator=" and ">
			iname like '%${arr}%' or uad like '%${arr}%'
		</foreach>
		order by ino desc
	</select>

</mapper>
