<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ProductMapper">
	<insert id="insertAuc">
		INSERT INTO
		PRODUCT(INO,USERID,CCODE,AUCTIONCHECK,UAD,INAME,MINPRICE,MAXPRICE,APRICENOW,APRICEEND,PRICETEXT,IMAGEFACE,VIEWCOUNT,LIKECOUNT,PDATE,ENDTIME,AUCTIONTIME)
		VALUES(product_seq.NEXTVAL,#{USERID},#{CCODE},#{'Y'},#{UAD},#{INAME},#{MINPRICE},#{MAXPRICE},#{APRICENOW},#{APRICEEND},#{PRICETEXT},#{IMAGEFACE},#{imageside},#{imageback},#{imageetc},#{viewcount},#{likecount},#{pdate},#{endtime},#{auctiontime},#{sellcheck})


	</insert>
	<!-- Detail -->
	<select id="selectProduct"
		resultType="org.zerock.domain.ProductDetail">
		<![CDATA[
select * from product where ino =#{ino}
	]]>
	</select>
	<select id="selectCname" resultType="String">
		select cname from category
		where ccode=#{ccode}
	</select>
	<!-- Update -->
	<select id="productModifyNor">
	update product set iname=#{iname},ccode=#{ccode}, price =#{price} , pricetext =#{pricetext} , imageface =#{imageface} where ino = #{ino}"
	</select>
</mapper>
