@charset "EUC-KR";
@import "reset.css";

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  border: 1px solid #444444;
  overflow: hidden;
  width: 100%;
  height: 80%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

table thead tr {
  height: 60px;
  background: #EC0000;
  color: white;
  font-weight: 900;
}

table tbody tr {
  background: white;
}

.button{
	color: white;
	background:#EC0000;
}